CONFIG_VENDOR_PROTECTLI=y
CONFIG_MAINBOARD_VENDOR="Nitrokey"
CONFIG_VGA_BIOS=y
CONFIG_MAINBOARD_SMBIOS_PRODUCT_NAME="NitroWall"
CONFIG_BOARD_PROTECTLI_FW4B=y
CONFIG_VGA_ROM_RUN=y
CONFIG_ON_DEVICE_ROM_LOAD=y
CONFIG_SMMSTORE=y
