CONFIG_LOCALVERSION="4.12"
CONFIG_BOOTSPLASH_IMAGE=y
CONFIG_BOOTSPLASH_FILE="bootsplash.jpg"
CONFIG_VENDOR_PROTECTLI=y
CONFIG_VGA_BIOS=y
CONFIG_VGA_BIOS_FILE="vgabios.bin"
CONFIG_VGA_BIOS_SECOND=y
CONFIG_VGA_BIOS_SECOND_FILE="vgabios2.bin"
CONFIG_HAVE_IFD_BIN=y
CONFIG_BOARD_PROTECTLI_FW6=y
CONFIG_HAVE_ME_BIN=y
CONFIG_MAINBOARD_VENDOR="Nitrokey"
CONFIG_MAINBOARD_SMBIOS_PRODUCT_NAME="NitroWall-NW678"
CONFIG_USE_ME_CLEANER=y
CONFIG_IFD_BIN_PATH="fd.bin"
CONFIG_ME_BIN_PATH="me.bin"


CONFIG_DEFAULT_CONSOLE_LOGLEVEL_0=y
CONFIG_SEABIOS_DEBUG_LEVEL=0
